{% extends "layout.html" %}
{% from "macros/render_form.html" import render_field, render_checkbox %}
{% block outer_content %}
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
    <h1><strong>BIRTH</strong></h1>
    <br/>
        <form id="birthForm" class="form form-register" method="POST" action="{{ url_for('manage.manage_birth_post') }}" role="form">
            {{ form_b.hidden_tag() }}
            {{ render_field(form_b.pin) }}
            {{ render_field(form_b.surname) }}
            {{ render_field(form_b.name) }}
            {{ render_field(form_b.city) }}
            {{ render_field(form_b.dt, div_class='', field_args={}) }}
            <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"> Submit </button></p>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1><strong>DEATH</strong></h1>
        <br/>
            <form id="deathForm" class="form form-register" method="POST" action="{{ url_for('manage.manage_death_post') }}" role="form">
                {{ form_d.hidden_tag() }}
                {{ render_field(form_d.pin1) }}
                {{ render_field(form_d.city1) }}
                {{ render_field(form_d.dt1, div_class='', field_args={}) }}
                <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"> Submit </button></p>
            </form>
        </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}
