{% extends "layout.html" %}

{% block outer_content %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
<header class="mdl-layout__header">
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Counties</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab">Births</a>
        <a href="#fixed-tab-3" class="mdl-layout__tab">Deaths</a>
    </div>
</header>
<main class="mdl-layout__content">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
        <div class="page-content">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                    <th class="mdl-data-table__cell--non-numeric">County</th>
                    <th class="mdl-data-table__cell--non-numeric">Births</th>
                    <th class="mdl-data-table__cell--non-numeric">Deaths</th>
                    </tr>
                </thead>
                <tbody> 
                    {% for county in counties %}
                    <tr>
                        <td>{{ county['name'] }}</td>
                        <td>{{ births[county['name']] }}</td>
                        <td>{{ deaths[county['name']] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
        <div class="page-content">Total births: {{ total_b }}</div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
        <div class="page-content">Total deaths: {{ total_d }}</div>
    </section>
    </div>
    <div class="mdl-layout-spacer"></div>
</main>
</div>
{% endblock %}
