{% extends "layout.html" %}
{% from "macros/render_form.html" import render_field, render_checkbox %}
{% block outer_content %}
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
    <h1><strong>LOGIN</strong></h1>
    <br/>
    <form id="loginForm" class="form form-register" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_checkbox(form.remember) }}
        <p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"> Login </button></p>
    </form>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
{% endblock %}
